- if exam_question.answers.blank?
  = form_tag exam_question_question_answers_path(exam_question.id), :method => :post, :remote => true do
    - exam_question.question.answers.each do |answer|
      - if exam_question.question.multi_answers?
        = radio_button_tag :answer_ids, answer.id
      - else
        = check_box_tag "answer_ids[]", answer.id
      = answer.body
      %br
    = submit_tag "asd"
- else
  - exam_question.question.answers.each do |answer|
    - if exam_question.question.multi_answers?
      = radio_button_tag :answer_ids, answer.id, exam_question.answers.include?(answer), :disabled => true
    - else
      = check_box_tag "answer_ids[]", answer.id, exam_question.answers.include?(answer), :disabled => true
    = answer.body
    %br

