= form_for(@topic, :url => category_topics_path(@topic.category_id)) do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br

  = f.label :questions_limit
  %br
  = f.text_field :questions_limit
  %br

  = f.label :time_limit
  %br
  = f.text_field :time_limit
  %br

  = f.submit "Create"
