%h3= @topic.name
= link_to 'edit', edit_topic_path(@topic) if admin?
all questions:
= @topic.questions.size
%br
time limit per exam:
= "#{@topic.time_limit} minutes"
%br
questions per exam:
= @topic.questions_limit
%br
- if @topic.current_exam
  = button_to "current exam", continue_exam_path(@topic.current_exam.id), :method => :get
-else
  = button_to "start exam", start_topic_exams_path(@topic.id), :method => :get
%br
= link_to t('button.add_question'), new_topic_question_path(@topic) if admin?

