!!!
%html
  %head
    %title OnlineExams
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/header'
      %section.round
        = render_breadcrumbs :separator => ' / '
        %br
        #sys_messages
          = flash_messages
        = record_errors
        = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
